# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Streamlit
.streamlit/
!.streamlit/config.toml
.streamlit/secrets.toml

# Local logs
*.log
